* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Dancing+Script:wght@500;600;700&display=swap');
#container{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  transform: translate(-50%,-50%);
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 8px;
}
#container>#SentencesContainer{
  width: 100%;
  color: black;
  /* border: 1px solid black; */
  padding: 30px;
}
#container>#SentencesContainer>.SentencesContainer_info{
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
  font-weight: 500;
  color: blueviolet;
}
#container>#form{
  width: 100%;
  padding: 0px 20px 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}
#container>#form>#input{
  height: 40px;
  width: 350px;
  padding:0px 58px 0px 20px;
  background: transparent;
  outline: none;
  color: rgb(255, 121, 237);
  border-radius: 6px;
  font-size: 15px;
  font-family: "Dancing Script", cursive;
}
#container>#form>#input::placeholder{
  color: rgb(255, 121, 237);
}
#container>#form>#continue{
  color:rgb(255, 121, 237) ;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin:-4px 0px 0px -45px;
  transition: 0.6s ease all;
}
#container>#form>#continue:hover{
  color:rgb(255, 0, 221) ;
  transform: translateX(5px);
}
.redinput {
  border: 2px solid rgb(255, 121, 237);
}

.errorInput {
  border: 1px solid red;
}

.errorInput::placeholder {
  color: red !important;
}